path.regions {
    stroke: black;
    fill: none;
    stroke-width: 0.3;
}

path.water-in-parks {
    fill: lightblue;
}

path.water-not-in-parks {
    fill: #088F8F;
}

path.parks-minus-water {
    fill: 	#48b07b;
}

path.parks {
    fill: #48b07b;
    opacity: 0.7;
}

path.water{
    fill: white;
    opacity: 0;
}
circle.brt_buffer_inpark {
    fill: #F88379;
    opacity:0.7;
    stroke: black ;
}

circle.brt_buffer_notinpark {
    fill: #E5E4E2	;
    opacity: 0.7;
    stroke: black	 ;
}

circle.brt_buffer_inpark2{
    fill: #F88379;
    opacity:0.7;
    stroke: black ;
}

circle.brt_buffer_notinpark2 {
    fill: #E5E4E2	;
    opacity: 0.7;
    stroke: black	 ;
}



path {
    vector-effect: non-scaling-stroke;
}

.title {
    text-align: left;
    font-family: "Courier New";
    font-size: 24px; /* or another appropriate font-size */
    font-weight: bold;
}

.subtitle {
    text-align: left;
    font-family: "Courier New";
    font-size: 18px;
}

body {background-color: #F0FFFF	}

.button-container {
    margin-top: 20px; /* Adjust margin as per your needs */
}

.button {
    background-color: #F0F8FF; /
    border-radius: 12px;
    color: black; /* White text color */
    border: none; /* Remove border */
    padding: 10px 20px; /* Some padding */
    cursor: pointer; /* Pointer cursor on hover */
    display: inline-block; /* Make it inline-block */
    font-size: 16px; /* Increase font size */
    margin: 4px 2px; /* Some margin */
    transition-duration: 0.4s; /* Add animation when hovered */
}

#transitionBtn:hover {
    background-color: #F0F8FF; /* White background color on hover */
    color: black; /* Black text color on hover */
}

.container {
    margin-bottom: 150px;
}
